python-dateutil>=2.5.2
libmozdata>=0.1.41
jinja2>=2.10
flask>=1.0.2
flask_sqlalchemy>=2.3.2
flask_cors>=3.0.6
sqlalchemy>=1.2.12
redis>=2.10.6
rq>=0.12.0
gunicorn>=19.9.0
psycopg2-binary>=2.7.5
apscheduler>=3.5.3
pyparsing>=2.2.2
cycler >= 0.10.0
parsepatch>=0.1.1
requests>=2.20.0
validate_email>=1.3
