body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

table, tbody, thead, tr, th, td {
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    margin-top: 5px;
    text-align: left;
    line-height: 1.7;
	width: 100%;
    table-layout:fixed;
}

th, td {
    padding: 0.5em;
}

table thead {
    background-color: #d9d9d9;
}

.cell {
    display: table-cell;
    text-align: center;
}

table tr:nth-child(2n+1) {
    background-color: #edecec;
}

table td {
    word-wrap: break-word;
}

.changeset {
    width: 100%;
}

.nav {
    float:right;
}

.github {
    background: url("/GitHub-Mark-120px-plus.png");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
}
