{#- viewer and sign_in_enabled come from _signin_context(). -#}
{%- set here = request.full_path[:-1] if request.full_path.endswith('?') else request.full_path -%}
<li style="float:right;">
  {%- if viewer %}
  <form method="post" action="/logout" class="nav-signin">
    <input type="hidden" name="next" value="{{ here }}">
    {%- if viewer.picture %}
    <img class="avatar" src="{{ viewer.picture }}" alt="" width="24" height="24" referrerpolicy="no-referrer">
    {%- endif %}
    <span class="account-name" title="{{ viewer.email }}">{{ viewer.name or viewer.email }}</span>
    <button type="submit">Sign out</button>
  </form>
  {%- elif sign_in_enabled %}
  <a href="/login?next={{ here|urlencode }}" class="navlink" title="mozilla.com Google accounts only">Sign in</a>
  {%- endif %}
</li>
