<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="shortcut icon" href="/clouseau.ico">
    <link rel="stylesheet" href="/clouseau.css?v=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Report a bug &mdash; {{ uuid }}</title>
    <script src="/clouseau.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li>
            <a href="https://www.mozilla.org/" class="brand">mozilla</a>
          </li>
          <li style="float:right;">
            <a href="https://github.com/mozilla/crash-clouseau"><span class="github"></span></a>
          </li>
        </ul>
      </nav>
    </header>
      {% if bugdata -%}
    <p>Here are the list of bugs for the signature &ldquo;{{ signature }}&rdquo;:
      <ul>
        {% for bugid, info in bugdata -%}
        <li class="listbugs">
          <a href="https://bugzilla.mozilla.org/{{ bugid }}">{% if info and info['status'] == 'RESOLVED' -%}<s class="red">{{ bugid }}</s>{% else -%}{{ bugid }}{% endif -%}</a>{% if info -%}{% if info['dupe_of'] -%}&nbsp;(duplicate of <a href="https://bugzilla.mozilla.org/{{ info['dupe_of'] }}">{{ info['dupe_of'] }}</a>){% endif -%}&nbsp;&mdash;&nbsp;{{ info['summary'] }}{% endif -%}
        </li>
        {% endfor -%}
      </ul>
    </p>
    {% endif -%}
    <p>
      <a href="{{ url }}">Create a new bug</a>{% if needinfo %} and ni on <a href="mailto:{{ needinfo }}">{{ needinfo }}</a>{% endif %}.
    </p>
  </body>
</html>
