<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="shortcut icon" href="/clouseau.ico">
    <link rel="stylesheet" href="/clouseau.css?v=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Report a bug &mdash; {{ uuid }}</title>
    <script type="text/javascript" src="/clouseau.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="nav" href="https://github.com/mozilla/crash-clouseau">
          <div class="github"></div>
        </a>
      </nav>
    </header>
    <p>
      <a href="{{ url }}">Create a new bug</a> and ni on <a href="mailto:{{ needinfo }}">{{ needinfo }}</a>.
    </p>
  </body>
</html>
