<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="shortcut icon" href="/clouseau.ico">
    <link rel="stylesheet" href="/clouseau.css?v=3">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reports</title>
    <script type="text/javascript" src="/clouseau.js"></script>
    <script type="text/javascript">
      const BUILDIDS = {
      {% for prod, bids in products.items() -%}
      "{{ prod }}": [{% for bid in bids %}"{{ bid }}",{% endfor -%}],
      {% endfor -%}};
    </script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li>
            <a href="https://www.mozilla.org/" class="brand">mozilla</a>
          </li>
          <li style="float:right;">
            <a href="https://github.com/mozilla/crash-clouseau"><div class="github"></div></a>
          </li>
        </ul>
      </nav>
    </header>
    <p>
      Product:&nbsp;
      <select id="product" onchange="javascript:update_buildids();">
        {% for p in products.keys() -%}
        {% if p == selected_product -%}
        <option value="{{ p }}" selected>{{ p }}</option>
        {% else -%}
        <option value="{{ p }}">{{ p }}</option>
        {% endif -%}
        {% endfor -%}
      </select>
      Buildid:&nbsp;
      <select id="buildid">
        {% for bid in products[selected_product] -%}
        {% if bid == selected_bid -%}
        <option value="{{ bid }}" selected>{{ bid }}</option>
        {% else -%}
        <option value="{{ bid }}">{{ bid }}</option>
        {% endif -%}
        {% endfor -%}
      </select>
      Score:&nbsp;
      <select id="score">
        {% for score in scores -%}
        {% if score == selected_score -%}
        <option value="{{ score }}" selected>{{ score }}</option>
        {% else -%}
        <option value="{{ score }}">{{ score }}</option>
        {% endif -%}
        {% endfor -%}
      </select>
      <button onclick="javascript:update_reports();">Go !</button>
    </p>

    <table class="signatures">
      <thead>
        <tr>
          <th>Signature</th>
          <th style="text-align:center;width:8%;">Crashes number</th>
          <th style="text-align:center;width:8%;">Installs number</th>
        <th style="width:20%;">Stacks</th>
        </tr>
      </thead>
      <tbody>
        {% for sgn, info in signatures -%}
        <tr>
          <td><a href="{{ info['url'] }}"{{ sgn|e }}>{{ sgn|e }}<a/></td>
          <td>{{ info['number'] }}</td>
          <td>{{ info['installs'] }}</td>
          <td>
            <div style="display:table;width:100%;">
              {% for uuid, score in info['uuids'] -%}
              <div style="display:table-row;">
                <div class="cell" style="float:left;width:80%">
                  <a href="crashstack.html?uuid={{ uuid }}">{{ uuid }}</a>
                </div>
                <div class="cell" style="float:right;width:20%">
                  <span style="background-color:{{ colors[score] }};">score: {{ score }}</span>
                </div>
              </div>
              {% endfor -%}
            </div>
          </td>
        </tr>
        {% endfor -%}
    </table>
  </body>
</html>
