<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="shortcut icon" href="/clouseau.ico">
    <link rel="stylesheet" href="/clouseau.css?v=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reports</title>
    <script type="text/javascript" src="/clouseau.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="nav" href="https://github.com/mozilla/crash-clouseau">
          <div class="github"></div>
        </a>
      </nav>
    </header>
    <ul>
      {% for uuid in uuids -%}
      <li>
        <a href="crashstack.html?uuid={{ uuid }}">{{ uuid }}</a>
      </li>
      {% endfor -%}
    </ul>
  </body>
</html>
