<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="shortcut icon" href="/clouseau.ico">
    <link rel="stylesheet" href="/clouseau.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Search by score</title>
    <script type="text/javascript" src="/clouseau.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="nav" href="https://github.com/mozilla/crashclouseau">
          <img src="/GitHub-Mark-32px.png"/>
        </a>
      </nav>
    </header>
    <p>Get all the crash reports where a changeset has a given score</p>
    <form onsubmit="javascript:search();" action="javascript:void(0);" style="display:inline;">
      Score:&nbsp;
      <select id="score">
        <option value="10" selected>10</option>
        <option value="9">9</option>
        <option value="8">8</option>
        <option value="7">7</option>
        <option value="6">6</option>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">0</option>
      </select>
      <input type="submit"
             value="Go !"/>
    </form>
  </body>
</html>
